*{
    padding: 0;
    margin: 0;
}

html,
body,
.content-container{
    height: 100%;
    width: 100%;
}

.input-group-container{
    display: flex;
}

.content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    position: relative;
}

.inputs{
    border-radius: 5px;
}

.label-name{
    padding-right: 20px; 
}

.send-button{
    width: 120px;
    height: 30px;
    margin: 20px;
    border-radius: 5px;
}

.display-none{
    display: none!important;
}

.alert-container{
    position: absolute;
}

.alert-container{
    min-width: 200px;
    min-height: 50px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
}

.alert-button{
    border-radius: 5px;
    padding: 4px 9px;
}

.alert-paragraph{
    padding: 10px;
}